body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#app {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}

h1::after, h1::before, h1::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

h1::after {
    bottom: -3px;
}

h1::before {
    bottom: -7px;
}

h1::before {
    bottom: -11px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: yellow;
    padding: 10px;
}

.product {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.product:last-child {
    border-bottom: none;
}

.category {
    margin-bottom: 20px;
}

.category-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.additional-title {
    display: none;
}

@media (max-width: 600px) {
    #app {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .category-title {
        font-size: 16px;
    }
}
